.navlink {
  color: lightcoral;
}
* {
  /* background-color: rgba(207, 215, 231, 0.403); */
}
.HomeTextColor {
  color: brown;
}
.HomeCss {
  background-color: rgb(135, 150, 177);
}
.active {
  color: #f79d5c;
}
