HOST=0.0.0.0
PORT=5000
MONGODB_URI=mongodb+srv://shilpabijalwan:bijalwan11@booking.dt4j0.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET="a7Xk9sD3fB2nZpL1vWq8jY5hT0uR6cM4oG8Z6xB2NmP3Qv1A7J"
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET="x8Pq1NfZ3jYk7BvW4RsT9mQ2Hc5LwGuLh3B2YkM8NsJwQv5FgXcRqUa"
REFRESH_TOKEN_EXPIRY=10d